<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <title>pet CARE | Login</title>
</head>
<body>
<script th:if="${param.error}">
    alert("Username o password incorrectos")
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/assets/img/logo.png"  style="width:100px" class="logo" alt="Logo" />
		
		<a class="navbar-brand" href="#"><h1>Pet Care</h1></a>
</nav>
<form th:action="@{/login}" th:object="${usuario}" method="post">
    <div id="form-main-container">
        <div id="form-area">
            <div id="form-title">
                Iniciar Sesion
            </div>
            <div id="form-body">
                <div>
                    <div class="col-12">
                        <fieldset class="form-group">
                            <label class="form-label" for="input4">Username:</label>
                            <input type="text" th:field="*{username}" class="form-control" id="input4" placeholder="Nombre de usuario" required>
                        </fieldset>
                    </div>
                    <div class="col-12">
                        <fieldset class="form-group">
                            <label class="form-label" for="input5">Contraseña:</label>
                            <input type="password" th:field="*{password}" class="form-control" id="input5" placeholder="Contraseña de usuario" required>
                        </fieldset>
                    </div>
                </div>
                <div>
                    <div class="center-text button-area">
                        <button type="submit" class="btn btn-cancel">Iniciar sesion</button>
                        <button type="button" class="btn btn-send" onclick="window.location.href='/register'">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>